body{
    color: #faaafa;
    color: aqua;
    color: #455e85;

    /*color palette 1 */
    color: #E9F5DB;
    color: #cfe1b9;
    color: #b5c99a;
    color: #97a97c;
    color: #87986a;
    color: #718355;

}