body{
    color: #faaafa;
    color: aqua;
    color: #455e85;

    /*color palette 1 */
    color: #E9F5DB;
    color: #cfe1b9;
    color: #b5c99a;
    color: #97a97c;
    color: #87986a;
    color: #718355;

    color: #ede0d4;
    color: #e6ccb2;
    color: #ddb892;
    color: #b08968;
    color: #7f5539;
    color: #9c6644;

    color: #f0f3fa;
    color: #d5deef;
    color: #b1c9ef;
    color: #8aaEE0;
    color: #638ecb;
    color: #395886;    

    color: #5344a9;
    color: #7a5197;
    color: #bb5098;
    color: #f47f6b;
    color: #ffb32b;
    color: #f5c63c;
    
}